.idea/
blog/__pycache__
blog/__pycache__/
blog/tests/__pycache__/
blog/tests/intergration
blog/tests/intergration/
blog/tests/system/__pycache__
blog/tests/system/__pycache__/
blog/tests/unit/__pycache__
blog/tests/unit/__pycache__/
blog_console_app/__pycache__/
blog_console_app/__init__.py
blog_console_app/__pycache__
blog_console_app/__pycache__/
blog_console_app/tests/system/__pycache__
blog_console_app/tests/system/__pycache__/
blog_console_app/tests/unit/__pycache__
blog_console_app/tests/unit/__pycache__/
blog_console_app/__pycache__
blog_console_app/__pycache__/
starter_code/__pycache__
starter_code/__pycache__/
starter_code/resources/__pycache__
starter_code/resources/__pycache__/
starter_code/models/__pycache__
starter_code/models/__pycache__/
starter_code/__pycache__/
starter_code/tests/unit/__init__.py
starter_code_section_6/__pycache__
starter_code_section_6/__pycache__/
starter_code_section_7/tests/system/models/__pycache__
starter_code_section_7/tests/system/models/__pycache__/
starter_code_section_8/video_code/__pycache__
starter_code_section_8/video_code/__pycache__/
starter_code_section_6/models/__pycache__/
starter_code_section_7/__pycache__/
starter_code_section_8/video_code/resources/__pycache__/
venv/
venv/Scripts/
venv/Lib/
.idea/automation_with_python.iml
.idea/misc.xml
.idea/workspace.xml
video_code_section_10/tests/acceptance/__pycache__/
video_code_section_10/tests/acceptance/locators/__pycache__/
video_code_section_10/tests/acceptance/page_model/__pycache__/
